@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Add rules for the italic fonts */
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
.custom-satoshi {
    font-family: 'Satoshi', sans-serif;
}

.custom-inter {
  font-family: 'Inter', sans-serif;
}

.fade-in-animation {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up-animation {
  animation: fadeInUp 5s ease-out;
}

.initial-state {
  opacity: 0;
  transform: translateY(20px);
}

/* Final state and animation properties */
.fade-in-up-animation {
  animation: fadeInUp 5s ease-out forwards;
}

/* Your keyframes from earlier */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.glassmorphic-card {
    background-color: rgba(58, 58, 58, 0.25);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }